<!DOCTYPE html>
<html>
<head>
  <title>Consumer - Kafka</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Kafka Logo" class="logo">
    <h1>POC Producer / Consumer</h1>
    <div id="mensagem"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </div>
</body>
</html>
